.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
_multiconfig.yml
.vercel
.clawhub/
.skills/
.AGENTS.md
.BOOTSTRAP.md
.HEARTBEAT.md
.IDENTITY.md
.SOUL.md
.TOOLS.md
.USER.md
skills/
AGENTS.md
BOOTSTRAP.md
HEARTBEAT.md
IDENTITY.md
SOUL.md
TOOLS.md
USER.md
